target/classes/implmentation/delete-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-customer-apiFlow" doc:id="0b4a155e-20a7-4bdb-bc2d-780ce1294ed3" >
		<logger level="INFO" doc:name="Logger" doc:id="fc62fb03-de1e-4367-b74d-83df28d9092c" message="connecting"/>
		<ee:transform doc:name="SetCleintKey" doc:id="04905e9a-a47a-435a-a1eb-9e2b63b6a630" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ClientID" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.ClientKey]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:read doc:name="Read" doc:id="d0700519-5a01-4636-a87b-b1fecd091f84" config-ref="File_Config" path="${fttp.filepath}"/>
		<ee:transform doc:name="Object" doc:id="e9a98daa-1ab1-4baf-8d03-9cb705f9ad83" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="SetSizePayload" doc:id="0e3ded0f-56e8-4d58-ba34-ecf826540c18" variableName="size"/>
		<ee:transform doc:name="Transform Message" doc:id="53226487-5b84-44f2-b7f9-f2ccefb03f39" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload filter ($.ClientKey != vars.ClientID) map(value, index) ->{
	CleintKey: value.ClientKey,
	FirstName: value.FirstName,
	MiddleName: value.MiddleName,
	LastName: value.LastName,
	BirthDate: value.BirthDate,
	Height: value.Height,
	Weight: value.Weight,
	BillingStreet: value.BillingStreet,
	BillingCity: value.BillingCity,
	BillingState: value.BillingState,
	BillingPostalCode: value.BillingPostalCode,
	BillingCountry: value.BillingCountry,
	CreatedDate: value.CreatedDate
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="265aeabc-93a3-4374-a6fe-6550c1d81232" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="e18c1867-b530-4e95-881e-0cbb454cfac3" >
			<when expression="#[vars.size != sizeOf(payload)]">
				<ee:transform doc:name="Transform Message" doc:id="47aa36b7-b906-4f70-aeff-7ab489dde9f4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="0deb0a43-0e26-476b-a010-92d1b798d7a0" config-ref="File_Config" path="${fttp.filepath}">
					<file:content ><![CDATA[#[output application/csv
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ClientKey: payload01.CleintKey,
	FirstName: payload01.FirstName,
	MiddleName: payload01.MiddleName,
	LastName: payload01.LastName,
	BirthDate: payload01.BirthDate,
	Height: payload01.Height,
	Weight: payload01.Weight,
	BillingStreet: payload01.BillingStreet,
	BillingCity: payload01.BillingCity,
	BillingState: payload01.BillingState,
	BillingPostalCode: payload01.BillingPostalCode,
	BillingCountry: payload01.BillingCountry,
	CreatedDate: payload01.CreatedDate
}]]]></file:content>
				</file:write>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="ed9d0c08-3462-4fca-afbe-ed237f5cdf48" type="CUSTOMER:NO_CONTENT" description="There is no record to be deleted"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="5e7ff80e-9032-44d0-86ac-d47f18a84cd9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "The requested id " ++ vars.ClientID ++ "is succesfully deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c44a3f86-9bbe-43f4-a222-035fcecef7d5" message="#[payload]"/>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error continue" doc:id="6e7ff693-b44c-4441-8c88-8177789628b2" type="CUSTOMER:NO_CONTENT">
				<ee:transform doc:name="Transform Message" doc:id="f093f433-139f-468c-b95c-a451a68c8bb5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[204]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
