customer-management-proj/src/main/mule/implmentation/create-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="57326ffa-8578-4ae4-89c1-a32e644c7d06" >
		<file:connection />
	</file:config>
	<flow name="create-customer-apiFlow" doc:id="25f8f21f-6dd8-4ba3-90a5-d5b5d4632b41" >
		<logger level="INFO" doc:name="Logger" doc:id="6923d6d1-4c6f-42d9-848e-86980e6df350" message="connecting"/>
		<ee:transform doc:name="Transform Message" doc:id="454c5a8b-6809-4483-838e-e22b17723d66" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	FirstName: payload.FirstName,
	MiddleName: payload.MiddleName,
	LastName: payload.LastName,
	BirthDate: payload.BirthDate,
	Height: payload.Height,
	Weight: payload.Weight,
	BillingStreet: payload.BillingStreet,
	BillingCity: payload.BillingCity,
	BillingState: payload.BillingState,
	BillingPostalCode: payload.BillingPostalCode,
	BillingCountry: payload.BillingCountry,
	CreatedDate: payload.CreatedDate
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="52caf09f-88be-4f1f-b02a-70f92fbe4e0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = true
---
payload map ( payload01 , indexOfPayload01 ) -> {
	FirstName: payload01.FirstName,
	MiddleName: payload01.MiddleName,
	LastName: payload01.LastName,
	BirthDate: payload01.BirthDate,
	Height: payload01.Height,
	Weight: payload01.Weight,
	BillingStreet: payload01.BillingStreet,
	BillingCity: payload01.BillingCity,
	BillingState: payload01.BillingState,
	BillingPostalCode: payload01.BillingPostalCode,
	BillingCountry: payload01.BillingCountry,
	CreatedDate: payload01.CreatedDate
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="orginalPayload" doc:id="63209c58-d20c-451e-851b-5138727c1179" variableName="orginalPayload" />
		<file:read doc:name="ReadCSVFile" doc:id="790f4673-88f3-4d24-884b-503f9fd4b8a6" config-ref="File_Config" path="${fttp.filepath}"/>
		<set-variable value="#[%dw 2.0
output application/java
---
payload]" doc:name="setReadCsvFile" doc:id="b13b1fb0-c047-4b30-83c7-68a7c255fa5c" variableName="ReadFile" />
		<logger level="INFO" doc:name="CheckSizeCsv" doc:id="a22e3b1b-23d7-44b3-a86d-4065b27332df" message="#[sizeOf(vars.ReadFile)]"/>
		<set-variable value="#[randomInt(100000000)]" doc:name="SetClientKey" doc:id="710cfc77-d04c-4d66-ab1c-f68532fc2616" variableName="ClientKey"/>
		<choice doc:name="Choice" doc:id="dae341ee-79c7-48dd-b123-661bbe0a7066" >
			<when expression="#[sizeOf(vars.ReadFile) ==0]">
				<file:write doc:name="WriteHeaderTrue" doc:id="99fa89d3-f185-401c-b1a7-cc21047ae14a" config-ref="File_Config" path="${fttp.filepath}">
					<file:content ><![CDATA[#[%dw 2.0
import * from dw::core::Arrays
output application/csv header = true
fun format(inDate)=(inDate ++ |00:00:00| ++ |+00:00|) as DateTime as Number
var CreatedDate= now()
---
vars.orginalPayload map ( orginalPayload , indexOfOrginalPayload ) -> {
	ClientKey:vars.ClientKey,
	FirstName: orginalPayload.FirstName,
	MiddleName: orginalPayload.MiddleName,
	LastName: orginalPayload.LastName,
	BirthDate: format(orginalPayload.BirthDate),
	Height: orginalPayload.Height,
	Weight: orginalPayload.Weight,
	BillingStreet: orginalPayload.BillingStreet,
	BillingCity: orginalPayload.BillingCity,
	BillingState: orginalPayload.BillingState,
	BillingPostalCode: orginalPayload.BillingPostalCode,
	BillingCountry: orginalPayload.BillingCountry,
	CreatedDate: format(CreatedDate)
}]]]></file:content>
				</file:write>
			</when>
			<otherwise >
				<file:write doc:name="WriteHeaderFalse" doc:id="380e7035-3c11-4de3-bd58-2c4846ff44b5" config-ref="File_Config" path="${fttp.filepath}" mode="APPEND">
					<file:content ><![CDATA[#[%dw 2.0
import * from dw::core::Arrays
output application/csv header = false
fun format(inDate)=(inDate ++ |00:00:00| ++ |+00:00|) as DateTime as Number
var CreatedDate= now()
---
vars.orginalPayload map ( orginalPayload , indexOfOrginalPayload ) -> {
	ClientKey:vars.ClientKey,
	FirstName: orginalPayload.FirstName,
	MiddleName: orginalPayload.MiddleName,
	LastName: orginalPayload.LastName,
	BirthDate: format(orginalPayload.BirthDate),
	Height: orginalPayload.Height,
	Weight: orginalPayload.Weight,
	BillingStreet: orginalPayload.BillingStreet,
	BillingCity: orginalPayload.BillingCity,
	BillingState: orginalPayload.BillingState,
	BillingPostalCode: orginalPayload.BillingPostalCode,
	BillingCountry: orginalPayload.BillingCountry,
	CreatedDate: format(CreatedDate)
}]]]></file:content>
				</file:write>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="94d205c4-2cc3-4a8e-8dfa-878342907d4a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message":"The customer with CleintKey " ++ vars.ClientKey ++ " is succesfully created "
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
