customer-management-proj/src/main/mule/implmentation/customer-management.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="customer-management-config" api="customer-management.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customer-management-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-management-config" />
		<error-handler ref="commonErrorError_Handler" />
    </flow>
    <flow name="customer-management-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-management-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\customers:customer-management-config">
		<logger level="INFO" doc:name="Logger" doc:id="ee840eed-74c4-4dd4-a153-1dabc18374db" message="connecting"/>
		<flow-ref doc:name="Flow Reference" doc:id="5511f039-eb69-4ac9-8a5e-ecf2d3cde7e0" name="delete-customer-apiFlow"/>
    </flow>
	<flow name="get:\customers:customer-management-config">
		<logger level="INFO" doc:name="Logger" doc:id="0d53a39e-183e-40f4-a848-f8ae5c322952" message="connecting"/>
		<flow-ref doc:name="Flow Reference" doc:id="ecf30f62-293e-4e80-9171-48c461485d02" name="retrieve-customer-apiFlow"/>
    </flow>
    <flow name="post:\customers:application\json:customer-management-config">
		<logger level="INFO" doc:name="Logger" doc:id="ccb0f3a7-d9e1-401f-bca1-f344649946fe" message="connecting"/>
		<flow-ref doc:name="Flow Reference" doc:id="ed931ba2-8bec-4eb6-b8e2-1b28392f87a7" name="create-customer-apiFlow"/>
    </flow>
</mule>
